html,body{
    margin: 0;
    padding: 0;
}
body{
    background: #e4e4e4;
}
.top{
    width: 1200px;
    height: 250px;
    background: no-repeat center center;
    display: block;
    margin: 40px auto;
}
.content{
    width: 1200px;
    margin: 0 auto;
    background: #fff;
}